@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital@0;1&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');


h1,h2,h3,h4,h5{
  font-family: 'Josefin Sans', sans-serif;
  
}
.container{
    position: relative;
}


body{
  font-family:'Noto Sans', sans-serif;
  font-size: 20px;

}

.text-block {
    position: absolute;
    bottom: 75px;
    right: 50px;
    background-color: rgba(255, 255, 255, .7 );
    color: black;
    padding-left: 50px;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-right: 50px;
    
  }

.deco{
  width: 53px;
  height: 0;
  border: 3px solid #7F6E62;
  margin: 40px 75px;
  display:inline-block;
}

.deco-bg{
  width: 53px;
  height: 0;
  border: 3px solid #7F6E62;
  margin: 40px 75px;
  display:inline-block;
  background-color:#064B5B;
}

.deco-short{
    width: 53px;
    height: 0;
    border: 3px solid #7F6E62;
    margin: 10px 200px 40px; 
    display:inline-block;
}

.bgmain{
    background-color:#064B5B;
}

.black{
  color: black;
}
p,h1,h2,ul,li, i{
  color: white;
}

.avatar{
  border-radius: 50%;
  width: 500px;
  height: 500px;
}

i:hover{
  color: black;
  transition: ease-in-out 0.25s;
}

.icon{
  max-width: 5%;
  max-height: 5%;
}

.resize{
 height: 300px;
}